body {
    background: #36D1DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    box-sizing: border-box;
}

.contMain {
    height: 7rem;
    width: auto;
    background-color: rgba(255, 255, 255, 0.63);
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    border-radius: 120px;
    box-shadow: 0 28px 36px rgba(0, 0, 0, 0.26);
    font-family: 'Karla', sans-serif;
}

.contSecond {
    height: 4.7rem;
    width: auto;
    background: rgba(255, 236, 131, 0.863);
    padding-left: 5rem;
    padding-right: 5rem;
    display: none;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 28px 36px rgba(0, 0, 0, 0.26);
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 13rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    height: 3.2rem;
    width: 100%;
    background-color: #a2f7f452;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

.header span {
    border-radius: 20px;
    padding: 0.3rem;
    width: 10%;
    text-align: center;
    border: 2px solid #a2f7f477;
    cursor: pointer;
}

.header span:hover {
    background-color: #a2f7f452;
}

.header span:active {
    background-color: #a2f7f4d2;
}

#gh {
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 1%;
    transform: scale(1);
	animation: pulse 2s infinite;
}

.cryptos {
    display: contents;
}

.selected {
    background-color: #a2f7f452;
}

@media (min-width: 1200px) {
    body {
        font-size: 6rem;
    }
    .contMain {
        height: 20rem;
        text-shadow: 6px 3px 5px #89aead;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    body {
        font-size: 5rem;
    }
    .contMain {
        height: 15rem;
        text-shadow: 4px 2px 3px #89aead;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    body {
        font-size: 3rem;
    }
    .contMain {
        height: 10rem;
    }
}

.fcont {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 3rem;
    border-top: 1px solid rgb(245, 230, 18);
    border-left: 1px solid rgb(245, 230, 18);
    border-right: 1px solid rgb(245, 230, 18);
    border-radius: 3px;
    padding: 0.5rem;
    position: absolute;
    bottom: 0px;
    left: 48vw;
    height: 4.3rem;
    width: 5.3rem;
    padding-bottom: 0;
    padding-top: 1rem;
    color: rgb(245, 230, 18);
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
}

.fcont:hover {
    text-shadow: 5px -1px 2px rgb(245, 230, 18);
    box-shadow: 0 -2px 11px 1px rgb(245, 230, 18);
}

.text {
    opacity: 0;
    transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* 
   * This class is for fade in effect which remains 
   * even after transiton is over
   */

.fade {
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* span:nth-child(2) {
    background-color: red;
} */

.closer {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    color: red;
    cursor: pointer;
}

.visible {
    display: flex;
    animation: fade-slide-in 0.3s ease-out forwards;
}

@keyframes fade-slide-in {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(3rem);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
        
    }
    70% {
        transform: scale(1);
        
    }
    100% {
        transform: scale(0.90);
        
    }
}